* {
    font-family: "Poppins", sans-serif;
  }
  
  body > header > nav {
    float: left;
    
    position: relative;
    right: -791px;
    top: 7px;
  
  }
  body > header > div:nth-child(2) {
    float: left;
  }
  
  body > header > nav > a {
    margin-left: 30px;
  }
  body > header > div:nth-child(2) {
    float: left;
    position: relative;
    left: -570px;
  }
  header{
    background-color: #636c79;
    padding: 25px;
    height: 570px;
    color:white;
    
  }
  body > header > div.header-text > img {
    position: relative;
    top: 134px;
    right: 607px;
  }
  body > header > div.header-text > h2 {
    position: relative;
    /* left: 53px; */
    top: 100px;
    font-size: 3.5em;
}
.header-text {
    float: right;
    padding-right: 90px;
}
body > header > div:nth-child(4) {
    float: right;
    position: relative;
    left: -85px;
    top: 78px;
    width: 50%;
}
img.header-img {
    width: 600px;
    height: 400px;
    /* transform: scale(1.2); */
}
body > header > div.header-text > p {
    position: relative;
    top: 100px;
    /* left: 56px; */
    color: white;
}
  img.logo {
    width: 100px;
}



input.email-header {
    padding: 10px;
    padding-right: 150px;
}
button.lets-talk {
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-size: x-small;
    /* font-weight: 600; */
    background: #8bb7a2;
    border: none;
    position: absolute;
    left: 219px;
    top: 77px;
}
body > header > nav > a:nth-child(7) {
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid;
}
.connect{
    padding:100px;
    text-align: center;
}
body > div > h1 {
    font-size: 45px;
}
.accomplishments {
    width: 200px;
    height: 100px;
    padding: 15px;
    float: left;
    margin-left: 70px;
}
img.counter-img {
    width: 801px;
    height: 500px;
    padding: 40px;
}
.care {
    text-align: center;
}
.care-text {
    width: 50%;
    text-align: left;
    padding: 20px;
    padding-left: 156px;
}
body > div.care > div > p {
    color: gray;
}
button.care-button {
    background: #8bb7a2;
    color: white;
    border: none;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    margin-top: 10px;
}
body > div.care > div.care-text > h1 {
    font-size: 35px;
}
.care-text {
    width: 30%;
    text-align: left;
    padding: 20px;
    float: left;
    padding-left: 256px;
    padding-top: 100px;
}
.care-img-holder {
    float: right;
    padding-right: 150px;
    padding-top: 15px;
    /* width: 60%; */
}
img.care-img {
    width: 500px;
}
.care-text-two {
    width: 35%;
    text-align: left;
    padding: 20px;
    float: right;
    padding-right: 60px;
    padding-top: 100px;
    margin-right: 64px;
}
.care-img-holder-two {
    width: 50%;
    padding-left: 225px;
    /* height: 100px; */
}


img.care-img-two {
    width: 600px;
    height: 400px;
    object-fit: scale-down;
}
.creative-team {
    margin-top: 500px;
    width: 100%;
    padding: 5%;
    padding-left: 17%;
    padding-right: 17%;
}
.hero-text {
    float: left;
    width: 40%;
}
.hero-small {
    color: gray;
}
.show1 {
    width: 20%;
    position: absolute;
    padding-top: 100px;
    float: left;
}
img.show-img {
    width: 300px;
}
.show2 {
    width: 20%;
    padding-top: 100px;
    float: right;
    right: 550px;
    position: absolute;
}
.show3 {
    width: 20%;
    left: 1063px;
    padding-top: 100px;
    float: right;
    position: absolute;
}
body > div.creative-team > button {
    position: absolute;
    top: 4020px;
    right: 650px;
}

footer {
    position: absolute;
    /* bottom: 10px; */
    top: 4200px;
    width: 100%;
    background: #10181d;
    color: white;
}
.footer-section {
    padding: 50px;
}
.footer-left {
    float: left;
}
.footer-right {
    float: right;
}
.items {
    position: relative;
    top: 60px;
    border-top: 1px solid;
}
li.list-items {
    float: left;
    margin-left: 150px;
}
li::marker{
    content: none;
}

footer {
    position: absolute;
    /* bottom: 10px; */
    top: 4200px;
    width: 100%;
    height: 250px;
    background: black;
    color: white;
}
body > footer > div > div.items > ul > li:nth-child(5) {
    position: relative;
    bottom: 36px;
}
body > footer > div > div.items > ul > li:nth-child(1) {
    margin-left: unset;
}
ul.nested{
    margin-left: -40px;
    color: grey;
    font-size: smaller;

}
li.list-text {
    margin-top: 10px;
}